[submodule "i2cdevlib"]
	path = i2cdevlib
	url = https://github.com/mjguisado/i2cdevlib.git
[submodule "arduino"]
	path = arduino
	url = https://github.com/landis/arduino.git
[submodule "Adafruit-MLX90614-Library"]
	path = Adafruit-MLX90614-Library
	url = https://github.com/adafruit/Adafruit-MLX90614-Library.git
